In [1]:
import numpy as np
import pandas as pd
import seaborn as sb
import matplotlib.pyplot as plt
sb.set()

import warnings
warnings.filterwarnings('ignore')

In [2]:
file_path = [
    'D:\\Study Work\\Data Science\\Data Science Projects\\Otaku\\data\\anime.csv',
    'D:\\Study Work\\Data Science\\Data Science Projects\\Otaku\\data\\rankings\\ranking_airing.csv',
    'D:\\Study Work\\Data Science\\Data Science Projects\\Otaku\\data\\rankings\\ranking_all.csv',
    'D:\\Study Work\\Data Science\\Data Science Projects\\Otaku\\data\\rankings\\ranking_bypopularity.csv',
    'D:\\Study Work\\Data Science\\Data Science Projects\\Otaku\\data\\rankings\\ranking_favorite.csv',
    'D:\\Study Work\\Data Science\\Data Science Projects\\Otaku\\data\\rankings\\ranking_movie.csv',
    'D:\\Study Work\\Data Science\\Data Science Projects\\Otaku\\data\\rankings\\ranking_ova.csv',
    'D:\\Study Work\\Data Science\\Data Science Projects\\Otaku\\data\\rankings\\ranking_special.csv',
    'D:\\Study Work\\Data Science\\Data Science Projects\\Otaku\\data\\rankings\\ranking_tv.csv',
]

## For `anime.csv`

In [3]:
data = pd.read_csv(file_path[0])
pd.set_option('display.max_columns', None)
data.head(n=3)

,id,title,main_picture,start_date,synopsis,mean,rank,popularity,num_list_users,num_scoring_users,nsfw,created_at,updated_at,media_type,status,genres,num_episodes,start_season,broadcast,source,average_episode_duration,rating,background,studios,statistics,season,year,end_date,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32
0,21,One Piece,{'medium': 'https://cdn.myanimelist.net/images...,1999-10-20,Barely surviving in a barrel after passing thr...,8.72,54.0,17,2463199,1398717,white,2005-11-11T01:20:50+00:00,2024-10-13T18:10:06+00:00,tv,currently_airing,"[{'id': 1, 'name': 'Action'}, {'id': 2, 'name'...",0,"{'year': 1999, 'season': 'fall'}","{'day_of_the_week': 'sunday', 'start_time': '0...",manga,1440,pg_13,"The anime had a hiatus from October 13, 2024 t...","[{'id': 18, 'name': 'Toei Animation'}]","{'status': {'watching': '1746533', 'completed'...",winter,2000,NaN,NaN,NaN,NaN,NaN,NaN
1,3665,Ginga Eiyuu Densetsu Gaiden (1999),{'medium': 'https://cdn.myanimelist.net/images...,1999-12-24,Ginga Eiyuu Densetsu Gaiden (1999) is the seco...,8.06,569.0,4962,21077,7777,white,2008-01-02T21:05:12+00:00,2022-03-18T19:39:11+00:00,ova,finished_airing,"[{'id': 1, 'name': 'Action'}, {'id': 50, 'name...",28,"{'year': 1999, 'season': 'fall'}",NaN,novel,1560,r,NaN,"[{'id': 1269, 'name': 'K-Factory'}]","{'status': {'watching': '983', 'completed': '9...",winter,2000,2000-07-21,NaN,NaN,NaN,NaN,NaN
2,3545,Kochira Katsushikaku Kameari Kouenmae Hashutsujo,{'medium': 'https://cdn.myanimelist.net/images...,1996-06-16,"Ryoutsu, being an underpaid policeman, is alwa...",7.78,1074.0,5063,20010,7396,white,2007-12-08T14:00:09+00:00,2022-11-06T09:33:13+00:00,tv,finished_airing,"[{'id': 50, 'name': 'Adult Cast'}, {'id': 4, '...",373,"{'year': 1996, 'season': 'summer'}","{'day_of_the_week': 'sunday', 'start_time': '1...",manga,1500,pg_13,NaN,"[{'id': 36, 'name': 'Gallop'}]","{'status': {'watching': '1591', 'completed': '...",winter,2000,2004-12-19,NaN,NaN,NaN,NaN,NaN

### Handing Missing Values and Dropping Unnecessary Features

In [4]:
print("Missing values in dataframe:")
print(data.isnull().sum())
print("data shape: ", data.shape)

Missing values in dataframe:
id                             0
title                          0
main_picture                   0
start_date                     0
synopsis                     143
mean                          71
rank                         778
popularity                     0
num_list_users                 0
num_scoring_users              0
nsfw                           0
created_at                     0
updated_at                     0
media_type                     0
status                         0
genres                         9
num_episodes                   0
start_season                   0
broadcast                   4600
source                       451
average_episode_duration       0
rating                        32
background                  6066
studios                        2
statistics                     0
season                         0
year                           0
end_date                     687
Unnamed: 28                 7809
Unnamed: 29                 7813
Unnamed: 30                 7813
Unnamed: 31                 7813
Unnamed: 32                 7813
dtype: int64
data shape:  (7814, 33)

In [5]:
# Drop columns: main_picture, created_at, updated_at, background
data_clean = data.drop(columns=['main_picture', 'created_at', 'updated_at', 'background', 'rank'])
data_clean = data_clean.drop(['Unnamed: 28', 'Unnamed: 29', 'Unnamed: 30', 'Unnamed: 31', 'Unnamed: 32'], axis=1)
data_clean.head(2)

,id,title,start_date,synopsis,mean,popularity,num_list_users,num_scoring_users,nsfw,media_type,status,genres,num_episodes,start_season,broadcast,source,average_episode_duration,rating,studios,statistics,season,year,end_date
0,21,One Piece,1999-10-20,Barely surviving in a barrel after passing thr...,8.72,17,2463199,1398717,white,tv,currently_airing,"[{'id': 1, 'name': 'Action'}, {'id': 2, 'name'...",0,"{'year': 1999, 'season': 'fall'}","{'day_of_the_week': 'sunday', 'start_time': '0...",manga,1440,pg_13,"[{'id': 18, 'name': 'Toei Animation'}]","{'status': {'watching': '1746533', 'completed'...",winter,2000,NaN
1,3665,Ginga Eiyuu Densetsu Gaiden (1999),1999-12-24,Ginga Eiyuu Densetsu Gaiden (1999) is the seco...,8.06,4962,21077,7777,white,ova,finished_airing,"[{'id': 1, 'name': 'Action'}, {'id': 50, 'name...",28,"{'year': 1999, 'season': 'fall'}",NaN,novel,1560,r,"[{'id': 1269, 'name': 'K-Factory'}]","{'status': {'watching': '983', 'completed': '9...",winter,2000,2000-07-21

In [6]:
data_clean.shape

(7814, 23)

In [7]:
# No synopsis information available
data_clean["synopsis"].fillna(value = "no_Synopsis", inplace = True)

# Anime still airing/ongoing
data_clean["end_date"].fillna(value = "airing", inplace = True)

# Anime not broadcasted, replace missing value with the same formet for easy sorting
data_clean["broadcast"].fillna(value = "{'day_of_the_week': 'NIL', 'start_time': 'NIL'}", inplace = True)

# Source not known
data_clean["source"].fillna(value = "unknown", inplace = True)

# Not rated
data_clean["rating"].fillna(value = "no_rating", inplace = True)

# Studios not known
data_clean["studios"].fillna(value = "missing", inplace = True)

# No genre information
data_clean["genres"].fillna(value = "[{'id': -1, 'name': 'no_genre'}]", inplace = True)

# Animes that do not have enough user giving their scorings, so replace null with value -1
data_clean["mean"].fillna(value = "-1", inplace = True)

# Check null values after cleaning
data_clean.isnull().sum()

id                          0
title                       0
start_date                  0
synopsis                    0
mean                        0
popularity                  0
num_list_users              0
num_scoring_users           0
nsfw                        0
media_type                  0
status                      0
genres                      0
num_episodes                0
start_season                0
broadcast                   0
source                      0
average_episode_duration    0
rating                      0
studios                     0
statistics                  0
season                      0
year                        0
end_date                    0
dtype: int64

In [8]:
data_clean.head(2)

,id,title,start_date,synopsis,mean,popularity,num_list_users,num_scoring_users,nsfw,media_type,status,genres,num_episodes,start_season,broadcast,source,average_episode_duration,rating,studios,statistics,season,year,end_date
0,21,One Piece,1999-10-20,Barely surviving in a barrel after passing thr...,8.72,17,2463199,1398717,white,tv,currently_airing,"[{'id': 1, 'name': 'Action'}, {'id': 2, 'name'...",0,"{'year': 1999, 'season': 'fall'}","{'day_of_the_week': 'sunday', 'start_time': '0...",manga,1440,pg_13,"[{'id': 18, 'name': 'Toei Animation'}]","{'status': {'watching': '1746533', 'completed'...",winter,2000,airing
1,3665,Ginga Eiyuu Densetsu Gaiden (1999),1999-12-24,Ginga Eiyuu Densetsu Gaiden (1999) is the seco...,8.06,4962,21077,7777,white,ova,finished_airing,"[{'id': 1, 'name': 'Action'}, {'id': 50, 'name...",28,"{'year': 1999, 'season': 'fall'}","{'day_of_the_week': 'NIL', 'start_time': 'NIL'}",novel,1560,r,"[{'id': 1269, 'name': 'K-Factory'}]","{'status': {'watching': '983', 'completed': '9...",winter,2000,2000-07-21

### Converting features to JSON format and splitting them into separate columns for better clarity and usability

In [9]:
import json

#### For start_season

In [10]:
def split_start_season(data_clean):
    # create NaN columns
    data_clean['start_season_year'] = np.nan
    data_clean['start_season_season'] = np.nan

    for row in range(0, len(data_clean)):
        if pd.isna(data_clean['start_season'][row]):
            continue

        # Ensure the value is a string before trying to load it as JSON
        start_season_value = data_clean['start_season'][row]
        if isinstance(start_season_value, str):
            try:
                start_season = json.loads(start_season_value.replace("'", "\""))
                
                # Check if the loaded value is a dictionary
                if isinstance(start_season, dict):
                    year = start_season.get('year', np.nan)
                    season = start_season.get('season', np.nan)
                else:
                    # Handle case where it's an integer or unexpected type
                    year = np.nan
                    season = np.nan

                # Use .loc[] for assignment to avoid SettingWithCopyWarning
                data_clean.loc[row, 'start_season_year'] = year
                data_clean.loc[row, 'start_season_season'] = season
            except json.JSONDecodeError:
                # Handle the case where the JSON is invalid
                continue
        else:
            # If not a string, treat as invalid or handle differently
            continue
    
    # Drop the original column
    data_clean.drop(columns=['start_season'], inplace=True)

    return data_clean

#### For broadcast

In [11]:
def split_broadcast(data_clean):
    # Create new columns with NaN as default
    data_clean['broadcast_day_of_the_week'] = np.nan
    data_clean['broadcast_start_time'] = np.nan

    for index, row in data_clean.iterrows():
        try:
            # Convert the 'broadcast' string to JSON
            broadcast = json.loads(row['broadcast'].replace("'", "\""))
            
            # Assign values to new columns
            data_clean.at[index, 'broadcast_day_of_the_week'] = broadcast.get('day_of_the_week', np.nan)
            data_clean.at[index, 'broadcast_start_time'] = broadcast.get('start_time', 'NIL')
        except (json.JSONDecodeError, KeyError, TypeError):
            # Handle rows with invalid JSON or missing keys
            data_clean.at[index, 'broadcast_day_of_the_week'] = np.nan
            data_clean.at[index, 'broadcast_start_time'] = 'NIL'

    # Drop the original 'broadcast' column
    data_clean.drop(columns=['broadcast'], inplace=True)

    return data_clean

#### For Statistics

In [12]:
# Splitting statistics column into watching, completed, on hold, plan to watch and num of user columns

def split_statistics(data_clean):
    # create NaN columns
    data_clean['statistics_watching'] = np.nan
    data_clean['statistics_completed'] = np.nan
    data_clean['statistics_on_hold'] = np.nan
    data_clean['statistics_dropped'] = np.nan
    data_clean['statistics_plan_to_watch'] = np.nan
    data_clean['statistics_num_list_users'] = np.nan

    for row in range(0, len(data_clean)):
        # convert from string to json
        try:
            statistics = json.loads(data_clean['statistics'][row].replace("'", "\""))
            if isinstance(statistics, list):
                statistics = statistics[0]  # Assuming the list contains a dictionary
            # Extract values from the statistics dictionary
            data_clean['statistics_watching'][row] = statistics['status']['watching']
            data_clean['statistics_completed'][row] = statistics['status']['completed']
            data_clean['statistics_on_hold'][row] = statistics['status']['on_hold']
            data_clean['statistics_dropped'][row] = statistics['status']['dropped']
            data_clean['statistics_plan_to_watch'][row] = statistics['status']['plan_to_watch']
            data_clean['statistics_num_list_users'][row] = statistics['num_list_users']
        except Exception as e:
            print(f"Error processing row {row}: {e}")
            continue

    # drop original column
    data_clean.drop(columns=['statistics'], inplace=True)
    
    return data_clean

In [13]:
# Create percentage fraction positive/negative viewerships --> Range: [0, 1]
# *function to be called after split_statistics() function*

def get_pos_neg_viewership(anime_index, viewership_types_list, data_clean):
    # Single anime
    total_pos_neg_views = 0
    for viewership_type in viewership_types_list:
        # Ensure the value is numeric (convert to float)
        viewership_value = pd.to_numeric(data_clean.at[anime_index, viewership_type], errors='coerce')
        total_pos_neg_views += viewership_value if pd.notna(viewership_value) else 0
    
    return total_pos_neg_views

def create_viewership_fraction(data_clean):
    # Create NaN columns
    data_clean['positive_viewership_fraction'] = np.nan
    data_clean['negative_viewership_fraction'] = np.nan
    
    positive_viewership = [
        'statistics_watching',
        'statistics_completed',
        'statistics_plan_to_watch'
    ]
    negative_viewership = [
        'statistics_on_hold',
        'statistics_dropped'
    ]
    
    # Loop through rows by index
    for anime_index in range(len(data_clean)):
        total_views = pd.to_numeric(data_clean.at[anime_index, 'statistics_num_list_users'], errors='coerce')
        
        # Check if total views is valid
        if pd.notna(total_views) and total_views > 0:
            # Calculating the total positive and total negative views respectively
            total_pos_views = get_pos_neg_viewership(anime_index, positive_viewership, data_clean)
            total_neg_views = get_pos_neg_viewership(anime_index, negative_viewership, data_clean)
            
            # Calculate percentage fraction & create a new column
            data_clean.at[anime_index, 'positive_viewership_fraction'] = round(total_pos_views / total_views, 4)
            data_clean.at[anime_index, 'negative_viewership_fraction'] = round(total_neg_views / total_views, 4)
    
    return data_clean

#### For Studios

In [14]:
def json_studios(data_clean):
    # Convert studios string to json
    for row in range(0, len(data_clean)):
        studio_data = data_clean['studios'][row]
        
        if not studio_data:  # Skip empty or None values
            data_clean['studios'][row] = None
            continue
        
        if isinstance(studio_data, list):  # If it's already a list, no need to parse
            data_clean['studios'][row] = studio_data
            continue
        
        try:
            studios = json.loads(studio_data.replace("'", "\""))
        except json.JSONDecodeError:
            try:
                # Attempt to fix potential common formatting errors
                studios = json.loads(studio_data.replace("'", "\"").replace("\"s", "'s").replace('N\"', "N\'"))
            except json.JSONDecodeError as e:
                print(f"JSONDecodeError at row {row}: {studio_data}")  # Log the error and data for debugging
                data_clean['studios'][row] = None
                continue  # Continue with the next row
        
        data_clean['studios'][row] = studios
    
    return data_clean

In [15]:
### FOR THE REVIEWS COLUMN AS THE DATA IS FLOAT
def json_studios_float(data_clean):
    # Convert studios string to json
    for row in range(0, len(data_clean)):
        studio_data = data_clean['studios'][row]
        
        if not studio_data:  # Skip empty or None values
            data_clean['studios'][row] = None
            continue
        
        if isinstance(studio_data, list):  # If it's already a list, no need to parse
            data_clean['studios'][row] = studio_data
            continue
        
        # Ensure studio_data is a string before attempting to replace
        if isinstance(studio_data, str):
            try:
                studios = json.loads(studio_data.replace("'", "\""))
            except json.JSONDecodeError:
                try:
                    # Attempt to fix potential common formatting errors
                    studios = json.loads(studio_data.replace("'", "\"").replace("\"s", "'s").replace('N\"', "N\'"))
                except json.JSONDecodeError as e:
                    print(f"JSONDecodeError at row {row}: {studio_data}")  # Log the error and data for debugging
                    data_clean['studios'][row] = None
                    continue  # Continue with the next row
        else:
            data_clean['studios'][row] = None  # Handle non-string values, like floats, as None
        
        data_clean['studios'][row] = studios
    
    return data_clean

#### For genre

In [16]:
def json_genres(data_clean):
    # Convert genres string to json
    for row in range(0, len(data_clean)):
        genre_str = data_clean['genres'][row]
        
        # If it's a list, convert it directly
        if isinstance(genre_str, list):
            data_clean['genres'][row] = genre_str
        elif isinstance(genre_str, str):
            # If it's a string, replace single quotes with double quotes and convert to JSON
            genre_str = genre_str.replace("'", "\"")
            # Check for empty strings or invalid JSON format
            if genre_str.strip():
                try:
                    genres = json.loads(genre_str)
                    data_clean['genres'][row] = genres
                except json.JSONDecodeError:
                    print(f"Invalid JSON format at row {row}: {genre_str}")
            else:
                print(f"Empty string at row {row}")
        else:
            print(f"Unexpected type at row {row}: {type(genre_str)}")
                
    return data_clean

#### Cleaning and Preprocess Function

In [17]:
# convert to json and split features
def json_split_features(data_clean):
    # Some datasets do not contain broadcast column
    try:
        data_clean = split_broadcast(data_clean)
    except:
        pass
    
    data_clean = split_start_season(data_clean)
    data_clean = split_statistics(data_clean)
    
    data_clean = create_viewership_fraction(data_clean)
    
    data_clean = json_studios(data_clean)
    data_clean = json_genres(data_clean)
    
    return data_clean

In [18]:
# convert to json and split features
def json_split_features_float(data_clean):
    # Some datasets do not contain broadcast column
    try:
        data_clean = split_broadcast(data_clean)
    except:
        pass
    
    data_clean = split_start_season(data_clean)
    data_clean = split_statistics(data_clean)
    
    data_clean = create_viewership_fraction(data_clean)
    
    data_clean = json_studios_float(data_clean)
    data_clean = json_genres(data_clean)
    
    return data_clean

In [19]:
data_clean = json_split_features(data_clean)

Error processing row 5101: list index out of range
Error processing row 5551: Expecting value: line 1 column 2 (char 1)
Error processing row 6325: 'status'
Error processing row 6592: 'status'
Error processing row 7090: 'status'
JSONDecodeError at row 5101:  this entry will reflect a standard version and dialect version as a single episode due to no change in animation.
JSONDecodeError at row 5551:  Japanese Academy Award for Excellent Animation of the Year in 2016
JSONDecodeError at row 6325: missing
JSONDecodeError at row 6592: missing
JSONDecodeError at row 7090: Fate/Grand Order: Shinsei Entaku Ryouiki Camelot - Wandering; Agateram and its sequel,Paladin; Agateram, adapt the 6th chapter of the mobile game Fate/Grand Order.
Invalid JSON format at row 6325: finished_airing
Invalid JSON format at row 6592: finished_airing
Invalid JSON format at row 7090: finished_airing

In [20]:
data_clean.head(2)

,id,title,start_date,synopsis,mean,popularity,num_list_users,num_scoring_users,nsfw,media_type,status,genres,num_episodes,source,average_episode_duration,rating,studios,season,year,end_date,broadcast_day_of_the_week,broadcast_start_time,start_season_year,start_season_season,statistics_watching,statistics_completed,statistics_on_hold,statistics_dropped,statistics_plan_to_watch,statistics_num_list_users,positive_viewership_fraction,negative_viewership_fraction
0,21,One Piece,1999-10-20,Barely surviving in a barrel after passing thr...,8.72,17,2463199,1398717,white,tv,currently_airing,"[{'id': 1, 'name': 'Action'}, {'id': 2, 'name'...",0,manga,1440,pg_13,"[{'id': 18, 'name': 'Toei Animation'}]",winter,2000,airing,sunday,09:30,1999.0,fall,1746533,16,297039,195959,223517,2463064.0,0.7998,0.2002
1,3665,Ginga Eiyuu Densetsu Gaiden (1999),1999-12-24,Ginga Eiyuu Densetsu Gaiden (1999) is the seco...,8.06,4962,21077,7777,white,ova,finished_airing,"[{'id': 1, 'name': 'Action'}, {'id': 50, 'name...",28,novel,1560,r,"[{'id': 1269, 'name': 'K-Factory'}]",winter,2000,2000-07-21,NIL,NIL,1999.0,fall,983,9594,749,399,9347,21072.0,0.9455,0.0545

### Convert `data_clean` to `csv` file

In [21]:
def export_df_to_csv(data_clean, file_path):
    new_file_path = file_path[:-4] + '_cleaned' + '.csv'
    data_clean.to_csv(new_file_path, index=False)
    
    return new_file_path

In [22]:
export_df_to_csv(data_clean, file_path[0])

'D:\\Study Work\\Data Science\\Data Science Projects\\Otaku\\data\\anime_cleaned.csv'

## Clean and process rankings csv files

### Function to fill NaN and drop columns

In [23]:
# Filling og NaN value and dropping of unused features
def fill_drop_data(data_clean):
    
    # Drop columns: main_picture, created_at, updated_at, background
    data_clean = data_clean.drop(columns=['main_picture', 'created_at', 'updated_at', 'background'])
    
    # No synopsis information available
    data_clean["synopsis"].fillna(value = "no_synopsis", inplace = True)

    # Anime still airing/ongoing
    data_clean["end_date"].fillna(value = "airing", inplace = True)

    # Anime not broadcasted, replace missing value with the same formet for easy sorting
    # Some dataframes do not contain broadcast column
    try:
        data_clean["broadcast"].fillna(value = "{'day_of_the_week': 'NIL', 'start_time': 'NIL'}", inplace = True)
    except:
        pass
        
    # Source not known
    data_clean["source"].fillna(value = "unknown", inplace = True)

    # Not rated
    data_clean["rating"].fillna(value = "no_rating", inplace = True)

    # No genre information
    data_clean["genres"].fillna(value = "[{'id': -1, 'name': 'no_genre'}]", inplace = True)
    
    # No start season information, so replace year with value -1 and season NIL
    data_clean["start_season"].fillna(value = "{'year': -1, 'season': 'NIL'}", inplace = True)

    # Animes that do not have enough user giving their scorings, so replace null with value -1
    data_clean["mean"].fillna(value = "-1", inplace = True)
    
    # Rank data not available, so replace null with value -1
    data_clean["rank"].fillna(value = "-1", inplace = True)
    
    return data_clean

### Iteratively clean and process rankings csv files

In [24]:
for path_num in range(1, len(file_path)):
    # read csv dataset into dataframe
    dataset = pd.read_csv(file_path[path_num])
    
    # cleaning and preprocessing
    data_clean = fill_drop_data(dataset)
    data_clean = json_split_features_float(data_clean)
    
    # create cleaned csv file
    new_file_path = export_df_to_csv(data_clean, file_path[path_num])
    
    print('Done cleaning and preprocessing:', new_file_path)

Done cleaning and preprocessing: D:\Study Work\Data Science\Data Science Projects\Otaku\data\rankings\ranking_airing_cleaned.csv
Error processing row 3: Expecting value: line 1 column 1 (char 0)
Error processing row 18: Expecting value: line 1 column 2 (char 1)
Error processing row 121: Expecting value: line 1 column 1 (char 0)
Error processing row 161: 'status'
Error processing row 282: 'status'
Error processing row 312: 'status'
JSONDecodeError at row 3: Steins
JSONDecodeError at row 18:  Japanese Academy Award for Excellent Animation of the Year in 2016
JSONDecodeError at row 121: The Steins
JSONDecodeError at row 161: The series won the 2013 Newtype Anime Awards for Best Anime Film.
JSONDecodeError at row 312: Steins;Gate: Kyoukaimenjou no Missing Link - Divide By Zero aired on December 3, 2015 during the rebroadcast of Steins;Gate to promote the Steins;Gate 0 visual novel, which was subsequently released on December 10, 2015. It was bundled with the Steins;Gate complete Blu-ray box set, released in Japan on February 5, 2016 and in North America on February 5, 2019 by Funimation Entertainment.

The special incorporates a majority of the Steins;Gate anime's 23rd episode, "Open the Steins Gate," but features an entirely new alternative ending in its latter half.
Invalid JSON format at row 3: finished_airing
Invalid JSON format at row 121: finished_airing
Invalid JSON format at row 161: finished_airing
Invalid JSON format at row 282: finished_airing
Invalid JSON format at row 312: finished_airing
Done cleaning and preprocessing: D:\Study Work\Data Science\Data Science Projects\Otaku\data\rankings\ranking_all_cleaned.csv
Done cleaning and preprocessing: D:\Study Work\Data Science\Data Science Projects\Otaku\data\rankings\ranking_bypopularity_cleaned.csv
Done cleaning and preprocessing: D:\Study Work\Data Science\Data Science Projects\Otaku\data\rankings\ranking_favorite_cleaned.csv
JSONDecodeError at row 355: [{'id': 2663, 'name': "Rock'n Roll Mountain"}]
Done cleaning and preprocessing: D:\Study Work\Data Science\Data Science Projects\Otaku\data\rankings\ranking_movie_cleaned.csv
Done cleaning and preprocessing: D:\Study Work\Data Science\Data Science Projects\Otaku\data\rankings\ranking_ova_cleaned.csv
Done cleaning and preprocessing: D:\Study Work\Data Science\Data Science Projects\Otaku\data\rankings\ranking_special_cleaned.csv
Done cleaning and preprocessing: D:\Study Work\Data Science\Data Science Projects\Otaku\data\rankings\ranking_tv_cleaned.csv

## Making Time Series Data

### Genres Time Series

In [25]:
anime_df = pd.read_csv('D:\\Study Work\\Data Science\\Data Science Projects\\Otaku\\data\\anime_cleaned.csv')

In [26]:
genres_time_series_df = anime_df.loc[:, ['start_season_year', 'genres']]
genres_time_series_df.head()

   start_season_year                                             genres
0             1999.0  [{'id': 1, 'name': 'Action'}, {'id': 2, 'name'...
1             1999.0  [{'id': 1, 'name': 'Action'}, {'id': 50, 'name...
2             1996.0  [{'id': 50, 'name': 'Adult Cast'}, {'id': 4, '...
3             1999.0  [{'id': 1, 'name': 'Action'}, {'id': 2, 'name'...
4             1999.0  [{'id': 4, 'name': 'Comedy'}, {'id': 55, 'name...

#### Convert genres feature to `json` for exploration:

In [27]:
# convert to json
genres_time_series_df = json_genres(genres_time_series_df)

Invalid JSON format at row 6325: finished_airing
Invalid JSON format at row 6592: finished_airing
Invalid JSON format at row 7090: finished_airing

In [29]:
import json  # Needed to parse JSON-like strings if necessary

print('Number of rows before:', len(genres_time_series_df))

# Filter rows where 'genres' has 'no_genre'
valid_rows = []
for row in range(len(genres_time_series_df)):
    try:
        # Parse the genres column if it's a JSON-like string
        genres_data = genres_time_series_df['genres'][row]
        if isinstance(genres_data, str):
            genres_data = json.loads(genres_data)
        
        # Check if the first element has 'name' as 'no_genre'
        if genres_data and genres_data[0]['name'] != 'no_genre':
            valid_rows.append(row)
    except (TypeError, KeyError, IndexError, json.JSONDecodeError) as e:
        # Handle rows that cannot be processed
        pass

# Filter the DataFrame to keep only valid rows
genres_time_series_df = genres_time_series_df.iloc[valid_rows].reset_index(drop=True)

print('Number of rows left:', len(genres_time_series_df))

Number of rows before: 7807
Number of rows left: 7795

In [31]:
# for each anime, split the genres into individual genre, 
# and add as new row with associated start_season_year, 

# Initialize a list to collect new rows
new_rows = []

for row in range(len(genres_time_series_df)):
    start_season_year = genres_time_series_df.loc[row, 'start_season_year']
    
    # Iterate through each genre in the 'genres' column
    for genre in genres_time_series_df.loc[row, 'genres']:
        # Append the new row to the list
        new_rows.append({"start_season_year": start_season_year, "genres": genre})

# Convert the new rows into a DataFrame
new_rows_df = pd.DataFrame(new_rows)

# Replace the original DataFrame with the new one
genres_time_series_df = new_rows_df.reset_index(drop=True)

# Display the updated DataFrame
genres_time_series_df

       start_season_year                          genres
0                 1999.0     {'id': 1, 'name': 'Action'}
1                 1999.0  {'id': 2, 'name': 'Adventure'}
2                 1999.0   {'id': 10, 'name': 'Fantasy'}
3                 1999.0   {'id': 27, 'name': 'Shounen'}
4                 1999.0     {'id': 1, 'name': 'Action'}
...                  ...                             ...
28296             2023.0  {'id': 2, 'name': 'Adventure'}
28297             2023.0   {'id': 10, 'name': 'Fantasy'}
28298             2023.0    {'id': 24, 'name': 'Sci-Fi'}
28299             2023.0   {'id': 27, 'name': 'Shounen'}
28300             2023.0     {'id': 29, 'name': 'Space'}

[28301 rows x 2 columns]

In [32]:
# rename 'genres' as 'genre'
genres_time_series_df.rename({'genres': 'genre'}, axis="columns", inplace=True)

# drop rows with 'Award Winning' genre since it is not really a genre and it only has 3 rows
print(f"Number of rows before removing 'Award Winning': {len(genres_time_series_df)}")
genres_time_series_df.drop(genres_time_series_df[genres_time_series_df.genre == 'Award Winning'].index, inplace=True)
print(f"Number of rows after removing 'Award Winning': {len(genres_time_series_df)}")

genres_time_series_df

Number of rows before removing 'Award Winning': 28301
Number of rows after removing 'Award Winning': 28301

       start_season_year                           genre
0                 1999.0     {'id': 1, 'name': 'Action'}
1                 1999.0  {'id': 2, 'name': 'Adventure'}
2                 1999.0   {'id': 10, 'name': 'Fantasy'}
3                 1999.0   {'id': 27, 'name': 'Shounen'}
4                 1999.0     {'id': 1, 'name': 'Action'}
...                  ...                             ...
28296             2023.0  {'id': 2, 'name': 'Adventure'}
28297             2023.0   {'id': 10, 'name': 'Fantasy'}
28298             2023.0    {'id': 24, 'name': 'Sci-Fi'}
28299             2023.0   {'id': 27, 'name': 'Shounen'}
28300             2023.0     {'id': 29, 'name': 'Space'}

[28301 rows x 2 columns]

In [35]:
# Replace dictionaries with string representations
genres_time_series_df['start_season_year'] = genres_time_series_df['start_season_year'].apply(
    lambda x: str(x) if isinstance(x, dict) else x
)
genres_time_series_df['genre'] = genres_time_series_df['genre'].apply(
    lambda x: str(x) if isinstance(x, dict) else x
)

In [36]:
# group according to start_season_year and genres
genres_time_series_df = genres_time_series_df.groupby(['start_season_year', 'genre']).size().reset_index().rename(columns={0: 'count'})

In [37]:
genres_time_series_df

      start_season_year                                genre  count
0                1969.0  {'id': 36, 'name': 'Slice of Life'}     32
1                1969.0          {'id': 4, 'name': 'Comedy'}     32
2                1979.0        {'id': 10, 'name': 'Fantasy'}     20
3                1979.0           {'id': 15, 'name': 'Kids'}     20
4                1979.0       {'id': 2, 'name': 'Adventure'}     20
...                 ...                                  ...    ...
1612             2023.0           {'id': 8, 'name': 'Drama'}     26
1613             2023.0    {'id': 80, 'name': 'Visual Arts'}      2
1614             2023.0  {'id': 81, 'name': 'Crossdressing'}      1
1615             2023.0  {'id': 82, 'name': 'Urban Fantasy'}      5
1616             2023.0     {'id': 83, 'name': 'Villainess'}      2

[1617 rows x 3 columns]

In [38]:
# create a list for genres
genres_list = [genre for genre in set(genres_time_series_df['genre'])]
print('Number of unique genres:', len(genres_list))


# create a new dataframe for as timeseries
column_names = ['Start Season Year']
column_names.extend([genre for genre in genres_list])

new_genres_time_series_df = pd.DataFrame(columns=column_names)
new_genres_time_series_df.head()

Number of unique genres: 77

Empty DataFrame
Columns: [Start Season Year, {'id': 56, 'name': 'Educational'}, {'id': 20, 'name': 'Parody'}, {'id': 77, 'name': 'Team Sports'}, {'id': -1, 'name': 'no_genre'}, {'id': 63, 'name': 'Iyashikei'}, {'id': 64, 'name': 'Love Polygon'}, {'id': 15, 'name': 'Kids'}, {'id': 71, 'name': 'Pets'}, {'id': 37, 'name': 'Supernatural'}, {'id': 67, 'name': 'Medical'}, {'id': 51, 'name': 'Anthropomorphic'}, {'id': 66, 'name': 'Mahou Shoujo'}, {'id': 75, 'name': 'Showbiz'}, {'id': 1, 'name': 'Action'}, {'id': 41, 'name': 'Suspense'}, {'id': 40, 'name': 'Psychological'}, {'id': 11, 'name': 'Strategy Game'}, {'id': 68, 'name': 'Organized Crime'}, {'id': 55, 'name': 'Delinquents'}, {'id': 18, 'name': 'Mecha'}, {'id': 60, 'name': 'Idols (Female)'}, {'id': 26, 'name': 'Girls Love'}, {'id': 72, 'name': 'Reincarnation'}, {'id': 38, 'name': 'Military'}, {'id': 61, 'name': 'Idols (Male)'}, {'id': 24, 'name': 'Sci-Fi'}, {'id': 73, 'name': 'Reverse Harem'}, {'id': 36, 'name': 'Slice of Life'}, {'id': 13, 'name': 'Historical'}, {'id': 39, 'name': 'Detective'}, {'id': 28, 'name': 'Boys Love'}, {'id': 22, 'name': 'Romance'}, {'id': 69, 'name': 'Otaku Culture'}, {'id': 80, 'name': 'Visual Arts'}, {'id': 25, 'name': 'Shoujo'}, {'id': 17, 'name': 'Martial Arts'}, {'id': 74, 'name': 'Love Status Quo'}, {'id': 3, 'name': 'Racing'}, {'id': 14, 'name': 'Horror'}, {'id': 6, 'name': 'Mythology'}, {'id': 62, 'name': 'Isekai'}, {'id': 29, 'name': 'Space'}, {'id': 65, 'name': 'Magical Sex Shift'}, {'id': 57, 'name': 'Gag Humor'}, {'id': 5, 'name': 'Avant Garde'}, {'id': 10, 'name': 'Fantasy'}, {'id': 35, 'name': 'Harem'}, {'id': 54, 'name': 'Combat Sports'}, {'id': 50, 'name': 'Adult Cast'}, {'id': 9, 'name': 'Ecchi'}, {'id': 46, 'name': 'Award Winning'}, {'id': 70, 'name': 'Performing Arts'}, {'id': 76, 'name': 'Survival'}, {'id': 21, 'name': 'Samurai'}, {'id': 31, 'name': 'Super Power'}, {'id': 8, 'name': 'Drama'}, {'id': 42, 'name': 'Seinen'}, {'id': 30, 'name': 'Sports'}, {'id': 78, 'name': 'Time Travel'}, {'id': 81, 'name': 'Crossdressing'}, {'id': 83, 'name': 'Villainess'}, {'id': 79, 'name': 'Video Game'}, {'id': 32, 'name': 'Vampire'}, {'id': 58, 'name': 'Gore'}, {'id': 19, 'name': 'Music'}, {'id': 52, 'name': 'CGDCT'}, {'id': 2, 'name': 'Adventure'}, {'id': 23, 'name': 'School'}, {'id': 4, 'name': 'Comedy'}, {'id': 53, 'name': 'Childcare'}, {'id': 43, 'name': 'Josei'}, {'id': 48, 'name': 'Workplace'}, {'id': 47, 'name': 'Gourmet'}, {'id': 27, 'name': 'Shounen'}, {'id': 82, 'name': 'Urban Fantasy'}, {'id': 7, 'name': 'Mystery'}, {'id': 59, 'name': 'High Stakes Game'}]
Index: []

In [40]:
# for row in test:
for row in range(len(genres_time_series_df)):
    skip = False
    
    single_year_row = {}

    start_season_year = genres_time_series_df['start_season_year'][row]
    
    # skip years earlier than 1999
    if start_season_year < 1999.0:
        continue
    
    # if start season year already exists in the dataframe, just add 
    for year in new_genres_time_series_df['Start Season Year']:
        if start_season_year == year:
            # add to dataframe
            genre = genres_time_series_df['genre'][row]
            genre_count = genres_time_series_df['count'][row]

            new_genres_time_series_df.loc[new_genres_time_series_df['Start Season Year'] == start_season_year, genre] = genre_count
            
            skip = True
            break
        
    if skip:
        continue
    
    single_year_row['Start Season Year'] = [start_season_year]
    
    for genre in genres_list:
        # add to dictionary the start season year and count
        if genre == genres_time_series_df['genre'][row]:
            single_year_row[genre] = [genres_time_series_df['count'][row]]
        else:
            single_year_row[genre] = [0]
    
    # add to dataframe using pd.concat
    new_row_df = pd.DataFrame(single_year_row)
    new_genres_time_series_df = pd.concat([new_genres_time_series_df, new_row_df], ignore_index=True)

In [41]:
new_genres_time_series_df

,Start Season Year,"{'id': 56, 'name': 'Educational'}","{'id': 20, 'name': 'Parody'}","{'id': 77, 'name': 'Team Sports'}","{'id': -1, 'name': 'no_genre'}","{'id': 63, 'name': 'Iyashikei'}","{'id': 64, 'name': 'Love Polygon'}","{'id': 15, 'name': 'Kids'}","{'id': 71, 'name': 'Pets'}","{'id': 37, 'name': 'Supernatural'}","{'id': 67, 'name': 'Medical'}","{'id': 51, 'name': 'Anthropomorphic'}","{'id': 66, 'name': 'Mahou Shoujo'}","{'id': 75, 'name': 'Showbiz'}","{'id': 1, 'name': 'Action'}","{'id': 41, 'name': 'Suspense'}","{'id': 40, 'name': 'Psychological'}","{'id': 11, 'name': 'Strategy Game'}","{'id': 68, 'name': 'Organized Crime'}","{'id': 55, 'name': 'Delinquents'}","{'id': 18, 'name': 'Mecha'}","{'id': 60, 'name': 'Idols (Female)'}","{'id': 26, 'name': 'Girls Love'}","{'id': 72, 'name': 'Reincarnation'}","{'id': 38, 'name': 'Military'}","{'id': 61, 'name': 'Idols (Male)'}","{'id': 24, 'name': 'Sci-Fi'}","{'id': 73, 'name': 'Reverse Harem'}","{'id': 36, 'name': 'Slice of Life'}","{'id': 13, 'name': 'Historical'}","{'id': 39, 'name': 'Detective'}","{'id': 28, 'name': 'Boys Love'}","{'id': 22, 'name': 'Romance'}","{'id': 69, 'name': 'Otaku Culture'}","{'id': 80, 'name': 'Visual Arts'}","{'id': 25, 'name': 'Shoujo'}","{'id': 17, 'name': 'Martial Arts'}","{'id': 74, 'name': 'Love Status Quo'}","{'id': 3, 'name': 'Racing'}","{'id': 14, 'name': 'Horror'}","{'id': 6, 'name': 'Mythology'}","{'id': 62, 'name': 'Isekai'}","{'id': 29, 'name': 'Space'}","{'id': 65, 'name': 'Magical Sex Shift'}","{'id': 57, 'name': 'Gag Humor'}","{'id': 5, 'name': 'Avant Garde'}","{'id': 10, 'name': 'Fantasy'}","{'id': 35, 'name': 'Harem'}","{'id': 54, 'name': 'Combat Sports'}","{'id': 50, 'name': 'Adult Cast'}","{'id': 9, 'name': 'Ecchi'}","{'id': 46, 'name': 'Award Winning'}","{'id': 70, 'name': 'Performing Arts'}","{'id': 76, 'name': 'Survival'}","{'id': 21, 'name': 'Samurai'}","{'id': 31, 'name': 'Super Power'}","{'id': 8, 'name': 'Drama'}","{'id': 42, 'name': 'Seinen'}","{'id': 30, 'name': 'Sports'}","{'id': 78, 'name': 'Time Travel'}","{'id': 81, 'name': 'Crossdressing'}","{'id': 83, 'name': 'Villainess'}","{'id': 79, 'name': 'Video Game'}","{'id': 32, 'name': 'Vampire'}","{'id': 58, 'name': 'Gore'}","{'id': 19, 'name': 'Music'}","{'id': 52, 'name': 'CGDCT'}","{'id': 2, 'name': 'Adventure'}","{'id': 23, 'name': 'School'}","{'id': 4, 'name': 'Comedy'}","{'id': 53, 'name': 'Childcare'}","{'id': 43, 'name': 'Josei'}","{'id': 48, 'name': 'Workplace'}","{'id': 47, 'name': 'Gourmet'}","{'id': 27, 'name': 'Shounen'}","{'id': 82, 'name': 'Urban Fantasy'}","{'id': 7, 'name': 'Mystery'}","{'id': 59, 'name': 'High Stakes Game'}"
0,1999.0,0,2,0,0,0,0,55,0,1,0,7,0,1,110,1,14,0,0,3,22,0,0,0,8,0,38,0,37,1,1,0,4,0,0,1,0,0,0,2,1,2,6,0,2,0,101,1,0,17,1,2,0,1,0,0,16,8,0,0,0,0,0,1,1,5,0,122,4,86,0,0,3,0,91,0,15,0
1,2000.0,1,11,0,0,1,16,94,5,24,4,24,1,1,121,6,9,23,0,1,37,0,0,3,8,0,83,0,5,33,5,2,37,0,1,16,4,0,16,21,33,8,14,0,9,16,103,1,6,4,5,7,2,0,6,12,47,9,10,16,0,0,4,11,3,25,1,148,14,146,12,0,0,1,79,0,18,0
2,2001.0,2,10,8,0,0,2,70,7,22,1,2,4,0,88,2,3,11,2,0,33,2,1,0,12,0,88,1,22,19,4,0,46,2,1,21,6,0,3,6,6,7,18,0,5,1,93,6,5,8,9,5,0,0,1,8,73,13,35,1,1,0,0,2,5,14,1,110,40,143,1,0,1,0,69,0,12,2
3,2002.0,0,10,10,0,1,6,46,4,31,0,6,14,5,154,9,9,5,3,0,48,0,0,1,22,0,121,0,42,13,16,2,73,6,0,23,20,0,4,6,12,14,27,4,8,3,115,6,4,8,15,18,5,0,4,10,88,25,16,1,0,0,13,0,4,22,2,149,37,196,0,0,1,3,85,0,35,0
4,2003.0,0,11,2,0,1,2,40,1,29,1,8,2,0,132,4,7,5,5,2,35,0,1,0,12,0,123,0,12,20,10,0,54,2,0,8,8,0,9,5,21,2,9,0,13,3,83,7,3,9,9,9,6,0,5,20,75,15,11,2,0,0,2,2,8,13,1,133,14,144,1,3,2,0,86,0,20,0
5,2004.0,0,33,4,0,1,1,33,2,49,6,2,11,0,146,17,24,16,3,2,44,0,8,1,30,0,101,2,9,26,9,1,40,4,1,22,7,0,11,9,8,9,17,0,7,3,72,4,2,18,10,9,2,3,9,11,93,34,8,4,0,0,0,2,6,11,0,128,25,149,2,4,1,5,117,0,28,3
6,2005.0,0,11,11,0,8,3,69,0,28,3,52,12,4,84,8,10,9,4,0,30,0,0,0,21,0,103,0,11,24,5,3,61,1,9,19,5,0,9,9,5,12,9,0,4,2,82,8,0,20,12,5,4,0,4,22,83,61,20,4,0,0,2,6,15,8,1,80,25,184,0,5,0,2,103,2,24,2
7,2006.0,0,20,3,0,3,8,54,4,40,3,10,11,5,139,12,13,13,15,0,23,2,7,1,21,0,75,10,10,31,6,1,63,4,2,31,12,0,4,17,16,8,7,0,19,2,104,7,2,34,5,6,3,0,16,21,69,27,9,2,4,0,0,9,11,16,1,94,31,167,0,2,4,2,81,9,24,0
8,2007.0,0,6,3,0,8,0,17,0,19,0,2,6,0,100,13,11,7,2,1,30,1,0,0,14,0,53,5,11,20,7,0,33,1,4,11,37,0,4,12,3,2,11,1,3,1,91,8,2,16,12,6,0,0,4,10,47,24,11,3,0,0,0,2,7,10,6,81,28,86,0,2,2,2,64,5,28,2
9,2008.0,4,24,13,0,5,9,28,1,27,0,1,10,3,90,13,10,17,2,0,18,1,2,0,10,0,44,0,19,18,4,2,37,1,3,14,8,0,0,8,9,5,6,0,8,0,61,7,0,14,15,4,0,0,4,19,40,23,16,1,0,0,2,5,4,8,4,63,48,116,1,2,1,0,53,7,14,0
10,2009.0,2,13,7,0,4,1,40,4,21,0,4,3,0,83,11,5,3,3,0,11,0,6,0,15,0,41,5,27,14,2,0,42,0,2,14,12,0,2,5,5,1,8,0,5,1,57,8,4,11,6,5,1,0,4,15,44,18,13,2,1,0,0,3,4,11,4,64,33,116,9,3,0,14,54,3,23,0
11,2010.0,3,10,16,0,5,1,46,4,18,1,4,9,0,64,5,4,10,4,2,19,0,0,2,16,0,39,0,17,24,3,0,22,1,1,6,6,1,4,3,6,2,9,0,6,4,40,1,2,14,6,6,0,0,8,15,26,29,19,4,0,0,0,2,1,36,8,39,30,137,1,4,1,0,31,2,14,0
12,2011.0,0,10,4,0,6,1,32,0,29,0,4,9,0,80,10,6,14,0,5,12,3,1,0,8,0,26,1,13,21,4,3,26,5,2,8,4,0,2,3,12,3,2,0,17,3,61,4,1,12,8,5,2,2,8,12,36,18,13,0,3,0,2,4,4,34,3,47,50,119,8,5,3,6,74,2,15,6
13,2012.0,0,13,6,0,8,3,29,2,26,0,15,6,0,77,4,4,8,1,0,11,15,2,0,11,0,37,0,37,26,5,1,28,2,2,2,9,0,5,5,5,4,10,0,8,0,52,6,0,13,7,5,0,0,3,13,39,29,12,6,1,0,4,2,2,41,8,45,50,98,2,4,9,0,27,4,14,1
14,2013.0,1,17,7,0,1,7,28,2,20,0,5,5,0,56,7,7,16,0,1,15,6,0,0,11,1,26,2,13,9,3,0,25,1,2,9,0,0,7,3,8,0,7,0,4,2,42,4,1,5,3,6,0,3,3,4,27,17,18,1,0,0,1,1,4,53,5,33,38,99,1,8,6,1,30,4,9,2
15,2014.0,1,7,8,0,7,2,30,1,28,0,6,8,0,75,5,7,9,0,0,14,18,1,0,10,0,35,1,37,16,4,2,36,1,2,9,9,1,4,2,9,3,7,0,9,3,58,8,0,14,12,6,1,1,5,15,26,24,16,3,0,0,1,1,3,37,7,40,67,113,2,2,4,5,60,2,17,2
16,2015.0,1,18,12,0,7,2,24,0,22,2,6,9,1,98,6,8,6,1,0,22,8,3,0,17,0,37,0,33,13,4,1,27,5,2,11,12,1,6,4,10,4,11,0,9,3,68,9,0,11,14,3,3,2,5,12,30,24,16,3,1,0,1,4,3,25,7,45,52,109,0,1,2,4,66,7,15,1
17,2016.0,1,25,4,0,9,2,29,7,28,1,18,5,0,75,9,6,12,2,0,14,15,0,0,14,3,29,1,40,16,3,3,22,1,1,8,2,0,3,6,7,7,9,0,5,2,45,3,0,7,6,2,4,2,4,10,43,20,10,6,0,0,1,4,4,49,7,36,62,95,2,2,12,3,39,7,22,2
18,2017.0,7,19,5,0,9,1,24,2,34,0,9,12,0,106,9,4,15,1,0,7,14,2,1,12,9,29,0,43,26,4,0,26,4,1,9,8,0,3,5,26,6,4,0,4,2,86,3,0,10,9,2,8,3,6,14,45,18,22,1,0,0,5,5,4,72,11,44,53,94,3,2,5,8,55,9,25,1
19,2018.0,3,17,8,0,13,2,29,3,29,1,7,11,0,101,7,7,13,7,2,7,12,1,4,13,15,18,1,42,33,5,1,33,1,0,7,16,3,2,7,24,6,2,1,12,5,61,4,3,18,7,3,4,2,6,24,45,32,18,1,0,0,8,4,6,74,10,54,43,89,3,1,6,5,46,2,18,0
20,2019.0,1,7,7,1,2,4,21,1,26,0,7,6,0,95,9,5,6,1,0,10,13,1,4,11,7,38,0,18,19,5,1,23,3,3,3,12,3,0,5,14,10,7,0,3,3,59,6,1,12,2,5,3,5,2,11,43,14,13,1,1,0,7,2,6,69,9,47,43,83,0,2,4,2,36,5,15,0
21,2020.0,1,6,3,0,3,2,21,0,15,1,3,6,0,89,17,18,3,3,0,8,10,0,3,10,15,24,1,13,27,1,1,24,1,1,5,16,0,1,3,15,7,0,0,2,2,77,0,1,7,1,2,2,1,0,4,27,11,6,4,0,1,5,0,2,100,3,44,21,66,1,0,3,3,22,7,10,0
22,2021.0,0,2,1,1,2,0,13,2,22,0,3,3,1,56,10,3,4,2,1,9,13,0,6,8,4,24,0,21,23,1,0,14,0,1,1,18,2,0,3,12,8,5,0,0,2,68,0,1,6,2,3,2,1,0,4,34,7,4,5,0,0,1,0,0,110,1,34,15,43,0,0,2,4,22,1,11,0
23,2022.0,0,3,2,0,2,0,12,0,12,0,1,3,1,60,7,8,5,1,0,3,8,0,6,8,4,15,0,13,17,3,0,14,2,0,2,14,3,2,0,4,14,2,1,0,2,52,5,0,10,0,2,3,1,2,5,15,14,8,1,0,0,2,2,1,54,6,32,19,51,3,2,2,1,31,3,13,4
24,2023.0,0,2,1,0,1,2,5,5,14,0,9,6,1,94,4,2,1,3,1,4,7,0,3,2,8,23,0,11,39,8,0,32,0,2,5,33,4,3,3,7,10,10,1,3,3,90,1,1,15,0,2,1,2,3,5,26,16,8,3,1,2,2,3,10,73,1,55,25,52,0,2,2,6,30,5,13,0

In [42]:
# Function to clean column names
def clean_column_name(col):
    if "{'id':" in col:
        return col.split("'name': ")[-1].strip("'}")
    return col

In [43]:
# Apply the cleaning function to rename columns
new_genres_time_series_df.columns = [clean_column_name(col) for col in new_genres_time_series_df.columns]

In [44]:
# Display the cleaned dataframe
new_genres_time_series_df

,Start Season Year,Educational,Parody,Team Sports,no_genre,Iyashikei,Love Polygon,Kids,Pets,Supernatural,Medical,Anthropomorphic,Mahou Shoujo,Showbiz,Action,Suspense,Psychological,Strategy Game,Organized Crime,Delinquents,Mecha,Idols (Female),Girls Love,Reincarnation,Military,Idols (Male),Sci-Fi,Reverse Harem,Slice of Life,Historical,Detective,Boys Love,Romance,Otaku Culture,Visual Arts,Shoujo,Martial Arts,Love Status Quo,Racing,Horror,Mythology,Isekai,Space,Magical Sex Shift,Gag Humor,Avant Garde,Fantasy,Harem,Combat Sports,Adult Cast,Ecchi,Award Winning,Performing Arts,Survival,Samurai,Super Power,Drama,Seinen,Sports,Time Travel,Crossdressing,Villainess,Video Game,Vampire,Gore,Music,CGDCT,Adventure,School,Comedy,Childcare,Josei,Workplace,Gourmet,Shounen,Urban Fantasy,Mystery,High Stakes Game
0,1999.0,0,2,0,0,0,0,55,0,1,0,7,0,1,110,1,14,0,0,3,22,0,0,0,8,0,38,0,37,1,1,0,4,0,0,1,0,0,0,2,1,2,6,0,2,0,101,1,0,17,1,2,0,1,0,0,16,8,0,0,0,0,0,1,1,5,0,122,4,86,0,0,3,0,91,0,15,0
1,2000.0,1,11,0,0,1,16,94,5,24,4,24,1,1,121,6,9,23,0,1,37,0,0,3,8,0,83,0,5,33,5,2,37,0,1,16,4,0,16,21,33,8,14,0,9,16,103,1,6,4,5,7,2,0,6,12,47,9,10,16,0,0,4,11,3,25,1,148,14,146,12,0,0,1,79,0,18,0
2,2001.0,2,10,8,0,0,2,70,7,22,1,2,4,0,88,2,3,11,2,0,33,2,1,0,12,0,88,1,22,19,4,0,46,2,1,21,6,0,3,6,6,7,18,0,5,1,93,6,5,8,9,5,0,0,1,8,73,13,35,1,1,0,0,2,5,14,1,110,40,143,1,0,1,0,69,0,12,2
3,2002.0,0,10,10,0,1,6,46,4,31,0,6,14,5,154,9,9,5,3,0,48,0,0,1,22,0,121,0,42,13,16,2,73,6,0,23,20,0,4,6,12,14,27,4,8,3,115,6,4,8,15,18,5,0,4,10,88,25,16,1,0,0,13,0,4,22,2,149,37,196,0,0,1,3,85,0,35,0
4,2003.0,0,11,2,0,1,2,40,1,29,1,8,2,0,132,4,7,5,5,2,35,0,1,0,12,0,123,0,12,20,10,0,54,2,0,8,8,0,9,5,21,2,9,0,13,3,83,7,3,9,9,9,6,0,5,20,75,15,11,2,0,0,2,2,8,13,1,133,14,144,1,3,2,0,86,0,20,0
5,2004.0,0,33,4,0,1,1,33,2,49,6,2,11,0,146,17,24,16,3,2,44,0,8,1,30,0,101,2,9,26,9,1,40,4,1,22,7,0,11,9,8,9,17,0,7,3,72,4,2,18,10,9,2,3,9,11,93,34,8,4,0,0,0,2,6,11,0,128,25,149,2,4,1,5,117,0,28,3
6,2005.0,0,11,11,0,8,3,69,0,28,3,52,12,4,84,8,10,9,4,0,30,0,0,0,21,0,103,0,11,24,5,3,61,1,9,19,5,0,9,9,5,12,9,0,4,2,82,8,0,20,12,5,4,0,4,22,83,61,20,4,0,0,2,6,15,8,1,80,25,184,0,5,0,2,103,2,24,2
7,2006.0,0,20,3,0,3,8,54,4,40,3,10,11,5,139,12,13,13,15,0,23,2,7,1,21,0,75,10,10,31,6,1,63,4,2,31,12,0,4,17,16,8,7,0,19,2,104,7,2,34,5,6,3,0,16,21,69,27,9,2,4,0,0,9,11,16,1,94,31,167,0,2,4,2,81,9,24,0
8,2007.0,0,6,3,0,8,0,17,0,19,0,2,6,0,100,13,11,7,2,1,30,1,0,0,14,0,53,5,11,20,7,0,33,1,4,11,37,0,4,12,3,2,11,1,3,1,91,8,2,16,12,6,0,0,4,10,47,24,11,3,0,0,0,2,7,10,6,81,28,86,0,2,2,2,64,5,28,2
9,2008.0,4,24,13,0,5,9,28,1,27,0,1,10,3,90,13,10,17,2,0,18,1,2,0,10,0,44,0,19,18,4,2,37,1,3,14,8,0,0,8,9,5,6,0,8,0,61,7,0,14,15,4,0,0,4,19,40,23,16,1,0,0,2,5,4,8,4,63,48,116,1,2,1,0,53,7,14,0
10,2009.0,2,13,7,0,4,1,40,4,21,0,4,3,0,83,11,5,3,3,0,11,0,6,0,15,0,41,5,27,14,2,0,42,0,2,14,12,0,2,5,5,1,8,0,5,1,57,8,4,11,6,5,1,0,4,15,44,18,13,2,1,0,0,3,4,11,4,64,33,116,9,3,0,14,54,3,23,0
11,2010.0,3,10,16,0,5,1,46,4,18,1,4,9,0,64,5,4,10,4,2,19,0,0,2,16,0,39,0,17,24,3,0,22,1,1,6,6,1,4,3,6,2,9,0,6,4,40,1,2,14,6,6,0,0,8,15,26,29,19,4,0,0,0,2,1,36,8,39,30,137,1,4,1,0,31,2,14,0
12,2011.0,0,10,4,0,6,1,32,0,29,0,4,9,0,80,10,6,14,0,5,12,3,1,0,8,0,26,1,13,21,4,3,26,5,2,8,4,0,2,3,12,3,2,0,17,3,61,4,1,12,8,5,2,2,8,12,36,18,13,0,3,0,2,4,4,34,3,47,50,119,8,5,3,6,74,2,15,6
13,2012.0,0,13,6,0,8,3,29,2,26,0,15,6,0,77,4,4,8,1,0,11,15,2,0,11,0,37,0,37,26,5,1,28,2,2,2,9,0,5,5,5,4,10,0,8,0,52,6,0,13,7,5,0,0,3,13,39,29,12,6,1,0,4,2,2,41,8,45,50,98,2,4,9,0,27,4,14,1
14,2013.0,1,17,7,0,1,7,28,2,20,0,5,5,0,56,7,7,16,0,1,15,6,0,0,11,1,26,2,13,9,3,0,25,1,2,9,0,0,7,3,8,0,7,0,4,2,42,4,1,5,3,6,0,3,3,4,27,17,18,1,0,0,1,1,4,53,5,33,38,99,1,8,6,1,30,4,9,2
15,2014.0,1,7,8,0,7,2,30,1,28,0,6,8,0,75,5,7,9,0,0,14,18,1,0,10,0,35,1,37,16,4,2,36,1,2,9,9,1,4,2,9,3,7,0,9,3,58,8,0,14,12,6,1,1,5,15,26,24,16,3,0,0,1,1,3,37,7,40,67,113,2,2,4,5,60,2,17,2
16,2015.0,1,18,12,0,7,2,24,0,22,2,6,9,1,98,6,8,6,1,0,22,8,3,0,17,0,37,0,33,13,4,1,27,5,2,11,12,1,6,4,10,4,11,0,9,3,68,9,0,11,14,3,3,2,5,12,30,24,16,3,1,0,1,4,3,25,7,45,52,109,0,1,2,4,66,7,15,1
17,2016.0,1,25,4,0,9,2,29,7,28,1,18,5,0,75,9,6,12,2,0,14,15,0,0,14,3,29,1,40,16,3,3,22,1,1,8,2,0,3,6,7,7,9,0,5,2,45,3,0,7,6,2,4,2,4,10,43,20,10,6,0,0,1,4,4,49,7,36,62,95,2,2,12,3,39,7,22,2
18,2017.0,7,19,5,0,9,1,24,2,34,0,9,12,0,106,9,4,15,1,0,7,14,2,1,12,9,29,0,43,26,4,0,26,4,1,9,8,0,3,5,26,6,4,0,4,2,86,3,0,10,9,2,8,3,6,14,45,18,22,1,0,0,5,5,4,72,11,44,53,94,3,2,5,8,55,9,25,1
19,2018.0,3,17,8,0,13,2,29,3,29,1,7,11,0,101,7,7,13,7,2,7,12,1,4,13,15,18,1,42,33,5,1,33,1,0,7,16,3,2,7,24,6,2,1,12,5,61,4,3,18,7,3,4,2,6,24,45,32,18,1,0,0,8,4,6,74,10,54,43,89,3,1,6,5,46,2,18,0
20,2019.0,1,7,7,1,2,4,21,1,26,0,7,6,0,95,9,5,6,1,0,10,13,1,4,11,7,38,0,18,19,5,1,23,3,3,3,12,3,0,5,14,10,7,0,3,3,59,6,1,12,2,5,3,5,2,11,43,14,13,1,1,0,7,2,6,69,9,47,43,83,0,2,4,2,36,5,15,0
21,2020.0,1,6,3,0,3,2,21,0,15,1,3,6,0,89,17,18,3,3,0,8,10,0,3,10,15,24,1,13,27,1,1,24,1,1,5,16,0,1,3,15,7,0,0,2,2,77,0,1,7,1,2,2,1,0,4,27,11,6,4,0,1,5,0,2,100,3,44,21,66,1,0,3,3,22,7,10,0
22,2021.0,0,2,1,1,2,0,13,2,22,0,3,3,1,56,10,3,4,2,1,9,13,0,6,8,4,24,0,21,23,1,0,14,0,1,1,18,2,0,3,12,8,5,0,0,2,68,0,1,6,2,3,2,1,0,4,34,7,4,5,0,0,1,0,0,110,1,34,15,43,0,0,2,4,22,1,11,0
23,2022.0,0,3,2,0,2,0,12,0,12,0,1,3,1,60,7,8,5,1,0,3,8,0,6,8,4,15,0,13,17,3,0,14,2,0,2,14,3,2,0,4,14,2,1,0,2,52,5,0,10,0,2,3,1,2,5,15,14,8,1,0,0,2,2,1,54,6,32,19,51,3,2,2,1,31,3,13,4
24,2023.0,0,2,1,0,1,2,5,5,14,0,9,6,1,94,4,2,1,3,1,4,7,0,3,2,8,23,0,11,39,8,0,32,0,2,5,33,4,3,3,7,10,10,1,3,3,90,1,1,15,0,2,1,2,3,5,26,16,8,3,1,2,2,3,10,73,1,55,25,52,0,2,2,6,30,5,13,0

In [45]:
# Export as csv
new_genres_time_series_df.to_csv('D:\\Study Work\\Data Science\\Data Science Projects\\Otaku\\data\\genres_timeseries_cleaned.csv', index=False)